@import 'styles/constants.styl'

.treeNode
    font-family: monospace

    &.isLeaf
        cursor: pointer

        &:hover
            color: $colorGreen

.key
    cursor: pointer
    color: $colorDarkRed

    &:hover
        text-decoration: underline
        color: $colorRed

.header,
.footer
    cursor: pointer

.body
    padding-left: 4 * $baseSize

.header,
.footer,
.body,
.key
    .treeNode.isHovered &
        color: $colorBlue
