.treeNode
    font-family: monospace
    font-size: 16px
    line-height: 1.5

    &.isLeaf
        cursor: pointer

        &:hover
            color: green

.key
    cursor: pointer
    color: darkred

    &:hover
        text-decoration: underline
        color: red

    &.isDangerous
        color: orange

.header,
.footer
    cursor: pointer

.header,
.footer,
.body,
.key
    .treeNode.isHovered &
        color: blue
