.fieldDescription
    display: flex
    margin-bottom: 8px
    align-items: center
    min-height: 32px

.fieldDescriptionLabel
    min-width: 100px

.fieldDescriptionValue
    font-family: monospace
    flex: 1
