@import 'styles/constants.styl'

.fieldDescription
    display: flex
    align-items: center
    margin-bottom: 2 * $baseSize
    min-height: 8 * $baseSize

.label
    min-width: 25 * $baseSize

.value
    font-family: monospace
    flex: 1
