.app
    display: flex
    flex-flow: row nowrap
    height: 100%

.appLeft,
.appRight
    flex: 1

.appLeft
    display: flex
    flex-flow: column nowrap
    padding: 16px
    box-sizing: border-box

.appRight
    font-size: 0

.appFieldPathInput
    font-size: 16px
    font-family: monospace
    padding: 4px
    margin: 0
    box-sizing: border-box
    height: 32px
    width: 100%
    border: 1px rgba(black, 0.2) solid;
    border-radius: 4px
    outline: none
    transition: border-color 100ms;

    &:focus
        border-color: rgba(black, 0.5)

.appTextDataTextarea
    padding: 16px
    size: 100%
    border: none
    background: lightskyblue
    outline: none
    font-family: monospace
    font-size: 16px
    resize: none
    box-sizing: border-box
