@import 'styles/constants.styl'

.app
    display: flex
    flex-flow: row nowrap
    height: 100%

    @media (max-width: $w800Breakpoint)
        flex-direction: column

.left,
.right
    flex: 1

.left
    display: flex
    flex-flow: column nowrap
    padding: 4 * $baseSize
    box-sizing: border-box

    @media (max-width: $w800Breakpoint)
        height: 65vh
        padding: 2 * $baseSize

.right
    font-size: 0

    @media (max-width: $w800Breakpoint)
        height: 35vh

.lineBreak
    @media (max-width: $w800Breakpoint)
        display: none

.fieldPathInput
    padding: $baseSize
    margin: 0
    box-sizing: border-box
    height: 8 * $baseSize
    width: 100%
    border: 1px $colorBlack20 solid;
    border-radius: $baseSize
    outline: none
    transition: border-color $fastestDuration;

    &:focus
        border-color: $colorBlack50

.textDataTextarea
    padding: 4 * $baseSize
    size: 100%
    border: none
    background: $colorDarkGray
    color: $colorSkyBlue
    resize: none
    box-sizing: border-box

    @media (max-width: $w800Breakpoint)
        padding: 2 * $baseSize
