@import 'styles/constants.styl'

support-for-ie = false
vendor-prefixes = official

global-reset()

textarea
    padding: 0
    margin: 0
    outline: none

textarea,
input
    font-family: monospace

html,
body,
:global(#appRoot)
    height: 100%
    min-height: 100%
    font-family: sans-serif
    line-height: 1.5

html,
body,
:global(#appRoot),
textarea,
input
    font-size: 4 * $baseSize

    @media (max-width: $w800Breakpoint)
        font-size: 3 * $baseSize
