@import 'styles/constants.styl'

support-for-ie = false
vendor-prefixes = official

global-reset()

textarea
    padding: 0
    margin: 0
    outline: none

textarea,
input
    font-size: 4 * $baseSize
    font-family: monospace

html,
body,
:global(#appRoot)
    height: 100%
    min-height: 100%
    font-family: sans-serif
    font-size: 4 * $baseSize
    line-height: 1.5
